@import "../../../../sass-common/variables", "../../../../sass-common/mixin";

.footer {
  background-color: $main-grey;
  padding: 5px 16px;
}

.form {
  display: flex;
  // .form__button-box

  &__button-box {
    display: flex;
    align-items: center;
  }

  // .form__button

  &__button {
    @include buttonReadyForImg();
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  // .form__button-img

  &__button-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    // .form__button-img_emoji
    
    &_emoji {
      background-image: url(../../../../assets/icon-emoji.svg);
      width: 24px;
      height: 24px;
    }

    // .form__button-img_clip

    &_clip {
      background-image: url(../../../../assets/icon-clip.svg);
      width: 20px;
      height: 20px;
    }

    // .form__button-img_send

    &_send {
      background-image: url(../../../../assets/icon-send.svg);
      width: 20px;
      height: 17px;
    }
  }

  // .form__input

  &__input {
    border: none;
    flex: 1 1 auto;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px 8px;
    padding: 9px 12px;
  }
}
