$main-grey: #f0f2f5;
$card-hover: #e9edef;
$extra-grey: #c8ccd3;
$secondary: #667781;
$extra-black: #54656f;
$message-color: #d9fdd3;
$chat-bg-color: #efeae2;
$fake-header-color: #00a884;
$header-popup-color: #008069;
