@import "../../../../sass-common/variables", "../../../../sass-common/mixin";

.chat-card {
  display: flex;
  align-items: center;
  height: 72px;

  &_active {
    background-color: $extra-grey;
  }

  &:hover {
    background-color: $card-hover;
  }

  // .chat-card__avatar-box

  &__avatar-box {
    flex: 0 0 77px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .chat-card__avatar
  &__avatar {
    width: 50px;
    height: 50px;
  }

  // .chat-card__chat-info

  &__chat-info {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid $card-hover;
    overflow: hidden;
    padding-right: 15px;
  }

  // .chat-card__main-info

  &__main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .chat-card__username

  &__username {
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 600;
    margin: 0;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
